[submodule "dotfiles/nvim"]
	path = dotfiles/nvim
	url = git@github.com:Wakayo-Quozorox/nvim.git
[submodule "dotfiles/common"]
	path = dotfiles/common
	url = git@github.com:Wakayo-Quozorox/dotfiles-common.git
